<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
	PUBLIC "-/mybatis.org/DTD Mapper 3.0//EN"
   "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.human.springboot.dao.JieunDAO">

<!-- 부서, 직급, 고용형태 옵션 불러오기 ( select )  -->
	<select id="department_select0" resultType="com.human.springboot.dto.DepartmentDTO">
		select dep_name from department
	</select>
	
	<select id="position_select0" resultType="com.human.springboot.dto.PositionDTO">
		select distinct position_name from position
	</select>
	
	<select id="form_select0" resultType="com.human.springboot.dto.PositionDTO">
		select distinct job_type from position
	</select>
	
	<select id="attendance_employee0" resultType="com.human.springboot.dto.EmployeeDTO">
		select emp_name, emp_email from employee
	</select>
	
	<select id="ExEmployee555" resultType="com.human.springboot.dto.PositionDTO">
		select position_id from position where position_name={param1}, job_type={param2} 
	</select>
<!-- 사원 정보 업데이트 ( update ) -->
<!-- 	<update id="employee_update0">
		update employee
		set 입사일자=#{param1}, emp_position=#{param2}, emp_email={param3}, emp_address={param4}, emp_mobile={param5}, emp_depart={param6}
		where emp_mobile=#{param1}
		and emp_name=#{param6}
	</update> -->

</mapper>