/* 전체 body */
body{
	font-family: Arial, sans-serif;
	margin : 0;
	padding : 0;
	background-color : #f0f0f0;
	margin-top: 0%;
	margin-bottom: 0%;
	width: 100%;

}
/* 링크 디자인 */
a{
	text-decoration: none;
	color: #000;
}
/* 제목 디자인 */
.title_container{
	background-color: #ffffff;
	display: flex;
	justify-content: space-between;
	padding: 0%;
	margin:0;
}
/* HumanGroupWare 디자인*/
.title_box1{
	font-size : 30px;
	font-weight: bold;
}
/* 원래 이미지 넣으려고 만든 디자인 */
.title_box2{
	width: 50%;
    height: 100%;
    background-size: 100% 100%;
    background-repeat: no-repeat;
    background-position: center;
	height: 10vh; /* vh 단위를 사용하여 뷰포트의 높이에 대응하도록 변경 */
	margin:0;
	padding:0;
}
/* 회사사원 검색 디자인*/
.title_box3 {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 5%;
    font-size : 17px;
    font-weight: bold;
}

.gap {
    margin-right: -30%;
}

input[type="text"] {
    padding: 2%;
    border: 1px solid #ccc;
    border-radius: 3%;
}

#Search_EmpBtn {
    padding: 3% 5%;
    background-color: #007bff;
    border: none;
    color: #fff;
    cursor: pointer;
    border-radius: 3%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: 0%
}

svg.bi-search {
    width: 75%;
    height: 100%;
    margin-right: 20%;
}
/* 다이로그램 디자인 */ 
.emp_dialog {
    display: none;
    background-color: #f2f2f2;
    border: 1px solid #ccc;
    border-radius: 5%;
    padding: 10%;
    margin-top: 5%;
}

.emp_info {
    font-size: 15px;
    font-weight: bold;
}

.emp_item img {
    width: 25%;
    height: 25%;
    object-fit: cover;
    border-radius: 50%;
    margin-right: 10%;
}
.emp_item {
	display: flex;
    flex-direction: row;
    align-items: center;
    flex-wrap: wrap;
    margin-bottom: 5%;
}
.emp_item .info-text p {
    margin: 0;
    white-space: nowrap;
 }
.emp_item p:first-child {
	font-weight: bold;
    margin-right: 10px;
}
/* Session 디자인 */
.Mysession_container {
	background-color:#fff;
	border: 1px solid #ccc;
	width : 100%;
	font-weight: bold;
}
#MY_box img {
    width: 80%;
}
/* 카테고리 디자인 */
.Category_container{
	border: 1px solid #ccc;
	width: 100%;
}
#Category_box1,
#Category_box2,
#Category_box3,
#Category_box4,
#Category_box5,
#Category_box6 {
  display: flex;
  flex-direction: column;
  align-items: center;
}
#Category_box1 svg,
#Category_box2 svg,
#Category_box3 svg,
#Category_box4 svg,
#Category_box5 svg,
#Category_box6 svg {
  width: 40%;
  fill: currentColor;
  margin-bottom: 10%;
}
#linkContainer,
#linkContainer2,
#linkContainer3,
#linkContainer4,
#linkContainer5,
#linkContainer6 {
  text-align: center;
}
#linkContainer a,
#linkContainer2 a,
#linkContainer3 a,
#linkContainer4 a,
#linkContainer5 a,
#linkContainer6 a {
  display: block;
  margin-bottom: 1%;
}
.container-left{
	 width: 15%;
     float: left;
     box-sizing: border-box;
}

/* 게시판 및 업무 디자인 */
.container_right1{
	width: 50%;
    float: left;
    box-sizing: border-box;        
}
.container_right2{
	width: 50%;
    float: right;
    box-sizing: border-box;        
}
.detail_container1 {
  	display: flex;
  	flex-direction: row;
  	border: 1px solid #ccc;
}
.board_box1 {
  	width: 100%;
  	background-color: #f2f2f2;
}
.detail_container2 {
  	display: flex;
  	flex-direction: row;
  	border: 1px solid #ccc;
}
.board_box2 {
  	width: 100%;
  	background-color: #f2f2f2;
}
#board_title1{
	font-weight : bold;
	margin-bottom: 1%;
	text-align: center;
}
#board_title2 {
	font-weight: bold;
  	margin-bottom: 1%;
  	text-align: center;
}
#board_notice{
	background-color: #ffffff;
  	padding: 5%;
  	border: 1px solid #cccccc;
  	margin-bottom: 1%;
}
#board_free {
  	background-color: #ffffff;
  	padding: 5%;
  	border: 1px solid #cccccc;
  	margin-bottom: 1%;
}
#board_free {
      font-family: Arial, sans-serif;
      font-size: 16px;
}
/* 공지사항 tr,td,a 디자인 */
#board_notice a {
	color: #0066cc;
	text-decoration: none;
}
#board_notice a:hover {
      text-decoration: underline;
}
#board_notice td {
	padding : 3%;
	width : 5%;
}

#board_notice tr {
	text-align : center;
    border-bottom: 1px solid #ccc;
}
/* 자유게시판 tr,td,a 디자인 */
#board_free a {
    color: #0066cc;
	text-decoration: none;
}

#board_free a:hover {
      text-decoration: underline;
}
#board_free td {
	padding : 3%;
	width : 10%;
}

#board_free tr {
	text-align : center;
    border-bottom: 1px solid #ccc;
}
.Work_box {
  	width: 100%;
  	background-color: #f2f2f2;
}

#Work_title {
  	font-weight: bold;
 	margin-bottom: 1%;
 	text-align: center;
}

#Work {
  	background-color: #ffffff;
  	padding: 10%;
  	border: 1px solid #cccccc;
}
.container_right3{
	width: 50%;
    float: left;
    box-sizing: border-box;       
}

/* 업무 tr,td,a 디자인 */
#Work a {
    color: #0066cc;
	text-decoration: none;
}

#Work a:hover {
      text-decoration: underline;
}
#Work td {
	padding : 3%;
	width : 5%;
}

#Work tr {
	text-align : center;
    border-bottom: 1px solid #ccc;
}
/* 출퇴근 디자인*/
.container_right4{
	width: 50%;
    float: right;
    box-sizing: border-box;  
}
.commute_box{
  	background-color: #f2f2f2;
  	padding: 1%;
  	border-radius: 5px;
}
.commute_title {
  	font-weight: bold;
 	margin-bottom: 15%;
 	text-align: center;
}
.commute {
  	background-color: #f2f2f2;
  	display: flex;
  	justify-content: center;
  	align-items: center;
}
button {
  padding: 5% 10%;
  font-size: 16px;
  font-weight: bold;
  background-color: #4caf50;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  margin: 0 5%;
}

button:hover {
  background-color: #45a049;
}

#start_id {
  background-color: #2196f3;
}

#start_id:hover {
  background-color: #1e87dc;
}

#end_id {
  background-color: #f44336;
}

#end_id:hover {
  background-color: #d6372e;
}
/* temp_main 디자인 */
#View {
  width: 85%;
  float: left;
  box-sizing: border-box;
}
#NotLogin{
	font-weight: bold;
	text-align: center;
	font-size : 20px;
}
/* footer 디자인 */
.footer_container {
	background-color: #f2f2f2;
	width: 99.8%;
	display: flex;
	justify-content: space-between;
	align-items: center;
	border: 1px solid #ccc;
	font-weight: bold;
}

.footer_box1 {
	font-size: 15px;
	line-height: 1.5;
	padding: 3%;
	color: #A2A2A2;
}
.footer_box2 {
	line-height: 1.5;
	padding: 3%;
}
.footer_box3{
	line-height: 1.5;
	color: #A2A2A2;
}
.footer_box4{
	color: #A2A2A2;
}
.footer_box2 svg {
	margin-right: 5%;
}

.footer_box2 svg:hover {
	fill: #ffca28;
}