@charset "UTF-8";
.liSelect{position: absolute; right:0; margin-right:80px;}
.totalMessage{position: absolute; right:0;}
.table tr:nth-child(1) button{position:relative; bottom:7px; font-weight:bold;} 
.table tr:nth-child(1) input{position:relative; left:40px;}
.table tr:nth-child(1) td{font-weight:bold;}
.table tr input{position:relative; left:40px;}
.table tr td{width:100px;dislplay:block;}
#deleteMgButton:hover{color:green;}
.flexContainer{display:flex;}
.nav-link{color:blue;}
.nav-link:hover {color:lightblue;}
.tableBox{position:relative;}
.hidden_td{border: none;}
.pagination{position: absolute; left: 40%; margin-left:10px;}
.pagination div{display:inline-block;}
.table tr td:nth-child(4) :hover{color:lightblue; cursor:pointer;}
.table{
	position:relative;
	margin-top:20px;
	margin-left:20px;
}
.overflow {
  	width:100px;
  	white-space: nowrap;
  	overflow: hidden;
  	text-overflow: ellipsis;
}
.pagination{text-align:center;}