@charset "UTF-8";

b{cursor:pointer;}

#SendPageBox{position:absolute; margin-top:20px;}
#ReceivePageBox{position:absolute; margin-top:20px;}

.nav-link{color:blue;}
.nav-link:hover {color:lightblue;}

.tableBox{position: relative; margin-left:20px; margin-top:50px;}

.pagination{position: absolute; left: 40%; margin-left:40px;}
.pagination div{display:inline-block;}
.pagination{text-align:center;}

.flexContainer{display:flex; flex-wrap: nowrap; width:50%; height:80vh;}

#RetableBox{position:absolute; margin-top:50px;}
#Retable tr td{width:300px; height:40px;}
#Retable{width:800px; height:50px;}
#Retable tr td:nth-child(3) :hover{color:lightblue; cursor:pointer;}

#SetableBox{position:absolute; margin-top:50px;}
#setable{width:800px; height:50px;}
#setable tr td{width:300px; height:40px;}
#setable tr td:nth-child(3) :hover{color:lightblue; cursor:pointer;}

.overflow{
  	width:100px;
  	white-space: nowrap;
  	overflow: hidden;
  	text-overflow: ellipsis;
}

.pagetitle{position:relative;}